MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=vizpilot

SESSION_SECRET=super-secret-vizpilot-entropy-key-change-in-production

GROQ_API_KEY=

EMAIL_SERVER_API_KEY=
